<section class="policy-container">
  <div class="policy-content">
    <h2 class="policy-title">{{ "policy.privacyPolicy" | translate }}</h2>
    <p class="policy-text margin-bottom-32">
      {{ "policy.policyApplies" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.1" | translate }}
      {{ "policy.personalInformation.personalInformation" | translate }}
    </h6>
    <div class="text-to-left">
      <span class="policy-text margin-bottom-8">
        {{ "letters.a" | translate }}
        {{ "policy.personalInformation.privacyAct" | translate }}
      </span>
    </div>
    <div class="policy-bullets-container margin-bottom-12">
      <ul class="life-bullets-ul policy-text">
        <li>{{ "policy.personalInformation.opinionTrueOrNot" | translate }}</li>
        <li>
          {{ "policy.personalInformation.opinionRecorded" | translate }}
        </li>
      </ul>
    </div>
    <p class="policy-text margin-bottom-32">
      {{ "letters.b" | translate }}
      {{ "policy.personalInformation.informationClassification" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.2" | translate }}
      {{ "policy.informationCollection.informationCollection" | translate }}
    </h6>
    <p class="policy-text">
      {{ "policy.informationCollection.websiteUse" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.3" | translate }}
      {{ "policy.personalInformation.personalInformation" | translate }}
    </h6>
    <div class="text-to-left">
      <span class="policy-text margin-bottom-8">
        {{ "letters.a" | translate }}
        {{ "policy.personalInformation.privacyAct" | translate }}
      </span>
    </div>
    <div class="policy-bullets-container margin-bottom-12">
      <ul class="life-bullets-ul policy-text">
        <li>{{ "policy.personalInformation.opinionTrueOrNot" | translate }}</li>
        <li>
          {{ "policy.personalInformation.opinionRecorded" | translate }}
        </li>
      </ul>
    </div>
    <p class="policy-text margin-bottom-32">
      {{ "letters.b" | translate }}
      {{ "policy.personalInformation.informationClassification" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.4" | translate }}
      {{ "policy.informationCollection.informationCollection" | translate }}
    </h6>
    <p class="policy-text">
      {{ "policy.informationCollection.websiteUse" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.5" | translate }}
      {{ "policy.personalInformation.personalInformation" | translate }}
    </h6>
    <div class="text-to-left">
      <span class="policy-text margin-bottom-8">
        {{ "letters.a" | translate }}
        {{ "policy.personalInformation.privacyAct" | translate }}
      </span>
    </div>
    <div class="policy-bullets-container margin-bottom-12">
      <ul class="life-bullets-ul policy-text">
        <li>{{ "policy.personalInformation.opinionTrueOrNot" | translate }}</li>
        <li>
          {{ "policy.personalInformation.opinionRecorded" | translate }}
        </li>
      </ul>
    </div>
    <p class="policy-text margin-bottom-32">
      {{ "letters.b" | translate }}
      {{ "policy.personalInformation.informationClassification" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.6" | translate }}
      {{ "policy.informationCollection.informationCollection" | translate }}
    </h6>
    <p class="policy-text">
      {{ "policy.informationCollection.websiteUse" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.7" | translate }}
      {{ "policy.personalInformation.personalInformation" | translate }}
    </h6>
    <div class="text-to-left">
      <span class="policy-text margin-bottom-8">
        {{ "letters.a" | translate }}
        {{ "policy.personalInformation.privacyAct" | translate }}
      </span>
    </div>
    <div class="policy-bullets-container margin-bottom-12">
      <ul class="life-bullets-ul policy-text">
        <li>
          <!-- whether the information or opinion is true or not; and -->
          {{ "policy.personalInformation.opinionTrueOrNot" | translate }}
        </li>
        <li>
          <!-- whether the information or opinion is recorded in a material form or
          not. -->
          {{ "policy.personalInformation.opinionRecorded" | translate }}
        </li>
      </ul>
    </div>
    <p class="policy-text margin-bottom-32">
      {{ "letters.b" | translate }}
      {{ "policy.personalInformation.informationClassification" | translate }}
    </p>
    <h6 class="policy-question margin-bottom-16">
      {{ "numbers.8" | translate }}
      {{ "policy.informationCollection.informationCollection" | translate }}
    </h6>
    <p class="policy-text">
      {{ "policy.informationCollection.websiteUse" | translate }}
    </p>
  </div>
</section>
