<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/leadership_Main.webp"
      alt="Leadership image"
      class="header-img img-fluid desktop-image"
    />
    <img
      src="./assets/images/Lead-Mobile.jpg"
      alt="Leadership image"
      class="header-img img-fluid mobile-image"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">{{ "leadership.about" | translate }}</h2>
        <h2 class="header-project-title">{{ "leadership.leadership" | translate }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <div class="container move-left-10">
      <div class="row">
        <div
          class="col-12 col-s-12 col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 margin-bottom-64"
        >
          <h2 class="page-sub-title page-sub-title-lead">
            {{ "leadership.founderTitle" | translate }}
          </h2>
          <p class="leader-msg founder-msg-body">
            {{ "leadership.founderDescription1" | translate }} <br />{{ "leadership.founderDescription2" | translate }}
            <span class="leader-sign"><br />{{ "leadership.founderSignature" | translate }}</span>
          </p>
        </div>

        <div
          class="col-12 col-s-12 col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 leader-img-container"
        >
          <img
            src="./assets/images/nizar-younes.jpg"
            alt="Founder image"
            class="leader-img"
          />
        </div>
      </div>
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
        >
          <h2 class="page-sub-title page-sub-title1 margin-bottom-20">
            {{ "leadership.chairmanTitle" | translate }}
          </h2>
          <p class="leader-msg chairman-msg-body">
            {{ "leadership.chairmanDescription1" | translate }} <br />{{ "leadership.chairmanDescription2" | translate }}
            <span class="leader-sign"><br />{{ "leadership.chairmanSignature" | translate }}</span>
          </p>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 leader-img-container"
        >
          <img
            src="./assets/images/ziad-younes.jpg"
            alt="Chairman image"
            class="leader-img leader-img1"
          />
        </div>
      </div>
    </div>
    <div class="multi-items-container">
        <img
          src="./assets/images/Team01.jpg"
          alt="Governing team map image"
          class="govering-team-map img-fluid"
        />

    </div>
    <div class="multi-items-container">
      <div class="map-title-container">
        <h2 class="our-commitments">{{ "leadership.ourCommitments" | translate }}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">{{ "leadership.integratedManagementSystem" | translate }}</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        {{ "leadership.managementDescription" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">
                  {{ "leadership.quality" | translate }}
                </h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        {{ "leadership.qualityDescription" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container margin-bottom-16"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">{{ "leadership.diversity" | translate }}</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        {{ "leadership.diversityDescription" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 multi-gray-box-container"
          >
            <div class="multi-items-body">
              <div class="leaders-multi-content">
                <h2 class="leaders-box-title">{{ "leadership.sustainability" | translate }}</h2>
                <div class="container move-left-12">
                  <div class="row">
                    <div
                      class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"
                    >
                      <img
                        src="./assets/icons/double_qoutation.svg"
                        alt="Double Qoutations"
                        class="box-qoutation"
                      />
                    </div>
                    <div
                      class="col-11 col-xs-11 col-s-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 move-left-15"
                    >
                      <p class="leaders-box-text">
                        {{ "leadership.sustainabilityDescription" | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-title-container">
          <h2 class="our-commitments our-commitments1">{{ "leadership.socialResponsibilties" | translate }}</h2>
        </div>
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <!-- <h2 class="page-sub-title margin-bottom-32">
              Message of the Chairman
            </h2> -->
            <p class="leader-msg chairman-msg-body">
              {{ "leadership.socialResponsibiltiesDescription" | translate }}
              <!-- <span class="leader-sign"><br />Chairman</span> -->
            </p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 leader-img-container leader-img-container2"
          >
          <img
          src="./assets/images/Environmental-and-Social-Image.webp"
          alt="Environmental and social image"
          class="leader-img leader-img2"
        />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
