<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Story-Main-Image.webp"
      alt="Story Main Image"
      class="header-img img-fluid desktop-image"
    />
    <img
      src="./assets/images/story-Mobile.jpg"
      alt="Story Main Image"
      class="header-img img-fluid mobile-image"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">{{ "story.about" | translate }}</h2>
        <h2 class="header-project-title">{{ "story.theStory" | translate }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container page-text-container1 margin-bottom-64">
  <div class="page-text-body">
    <p class="summary-paragraph summary-paragraph1 shadow-paragraph">
      <!-- BUTEC’s track record began in Beirut <strong>in 1964</strong>. Since the early days, it has evolved from a local engineering company, into a prestigious regional corporation specializing in <strong> four areas of expertise</strong>: Engineering & Contracting, Electro-Mechanical Solutions, Facility Services, and Utility Services. -->
      {{ "story.journeyDescription1" | translate }}
      {{ "story.journeyDescription2" | translate }}
      {{ "story.journeyDescription3" | translate }}
      {{ "story.journeyDescription4" | translate }}
      {{ "story.journeyDescription5" | translate }}
    </p>
    <p class="page-paragraph-desc">
      {{ "story.structureDescription1" | translate }}<strong> {{ "story.structureDescription2" | translate }}</strong>{{ "story.structureDescription3" | translate }}
      <br><br> {{ "story.sectorsDescription" | translate }}<br><br>
      {{ "story.geographicalDescription" | translate }}
    </p>
  </div>
</section>
<section class="wide-img-container">
  <img
    src="./assets/images/Story-sub-image.jpg"
    alt="Story image"
    class="wide-img img-fluid"
  />
</section>
<section class="page-text-container page-text-container-safa margin-bottom-120">
  <p class="page-paragraph-desc">
    {{ "story.operationDescription" | translate }}<strong>{{ "story.operationDescription2" | translate }}</strong>{{ "story.operationDescription3" | translate }}<strong>{{ "story.operationDescription4" | translate }}</strong>{{ "story.operationDescription5" | translate }}
    <br><br>{{ "story.relationshipsDescription" | translate }}<strong>{{ "story.futureDescription1" | translate }}</strong> 
  </p>
</section>
<section class="page-text-container page-text-container2">
  <div class="mile-body">
    <div class="gold-left-border mile-content">
      <h2 class="milestones">{{ "story.milestones" | translate }}</h2>
      <div>
        <div class="container">
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.1964" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.companyFounded" | translate }}
                <strong>{{ "story.founded" | translate }}</strong>
                {{ "story.inLebanon" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 mile-icons-container red-background1"
            >
            <div class="row">
              <div
                class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-center1 mile-icon-space2"
              >
              <img
                src="./assets/icons/Leb_icon.svg"
                alt="Milestone Image"
                class="mile-icon"
              />
              </div>
              <div
                class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-center mile-icon-space1"
              >
              <img
                src="./assets/icons/engineering_contracting_white.svg"
                alt="Milestone Image"
                class="mile-icon"
              />
              </div>
            </div>
            
            
          </div>
        </div>
              <!-- <div class="container">
                <div class="row">
                  <div
                    class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-right"
                  >
                    <img
                      src="./assets/icons/Leb_icon.svg"
                      alt="Milestone Image"
                      class="mile-icon"
                    />
                  </div>
                  <div
                    class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-left"
                  >
                    <img
                      src="./assets/icons/engineering_contracting_white.svg"
                      alt="Milestone Image"
                      class="mile-icon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.1980" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.dubaiBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="Business Line image"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.1982" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.saudiBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/saudi_icon.svg"
                alt="Business Line image"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2005" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.algeriaBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/algeria_icon.svg"
                alt="Algeria Flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2006" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.qatarBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/qatar_icon.svg"
                alt="Qatar Flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2007" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.abuDhabiBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="UAE Flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2008" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="multi-mile-text">
                {{ "story.interationalFinance" | translate }}
                {{ "story.equityPartner" | translate }}
                {{ "story.inButecGroup" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/images/equity_partner.png"
                alt="Business Line image"
                class="mile-icon mile-icon-glob"
              />
              <img
                src="./assets/images/globe-1.png"
                alt="Business Line image"
                class="mile-icon-globe"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2010" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.jordanBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/jordan_icon.svg"
                alt="Jordan Flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2011" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="multi-mile-text">
                {{ "story.diversificationInto" | translate }}
                <strong>{{ "story.utilityServices" | translate }}</strong>
                {{ "story.edl" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 green-background2 mile-icons-container"
            >
              <img
                src="./assets/icons/Utility-Services-Green.jpg"
                alt="Business Line image"
                class="mile-icon1"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2021" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.newHeadquarter" | translate }}
                <strong>{{ "story.dubaiBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/uae_icon.svg"
                alt="UAE Flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2021" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="mile-text">
                {{ "story.establishmentOfThe" | translate }}
                <strong>{{ "story.ivoryCoastBranch" | translate }}</strong>
                {{ "story.branch" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 gray-background mile-icons-container"
            >
              <img
                src="./assets/icons/cote_icon.svg"
                alt="Cote D'Ivoire flag"
                class="mile-icon"
              />
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2022" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="multi-mile-text">
                {{ "story.diversificationInto" | translate }}
                <strong>{{
                  "story.electroMechanicalSolutions" | translate
                }}</strong>
                {{ "story.and" | translate }}
                <strong>{{ "story.facilityServices" | translate }}</strong>
                {{ "story.companiesInAfrica" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 mile-icons-container teal-background2"
            >
              <div class="row">
                <div
                  class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-center cerulean-background1 mile-icon-space"
                >
                  <img
                    src="./assets/icons/electro_mechincal_white.svg"
                    alt="Business Line image"
                    class="mile-icon mile-icon-em cerulean-background"
                  />
                </div>
                <div
                  class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-center mile-icon-space1"
                >
                  <img
                    src="./assets/icons/facility_services_white.svg"
                    alt="Business Line image"
                    class="mile-icon mile-icon-em1"
                  />
                </div>
              </div>
              
              
            </div>
          </div>
          <div class="row mile-section">
            <div
              class="col-1 col-xs-1 col-s-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mile-title-container align-items-center"
            >
              <h6 class="mile-title">{{ "story.2024" | translate }}</h6>
            </div>
            <div
              class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 mile-text-container align-items-center"
            >
              <p class="multi-mile-text">
                {{ "story.strenghtening" | translate }}
                <strong>{{ "story.utilityServices" | translate }}</strong>
                {{ "story.WaterEfficiency" | translate }}
              </p>
            </div>
            <div
              class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 green-background2 mile-icons-container"
            >
              <img
                src="./assets/icons/Utility-Services-Green.jpg"
                alt="Business Line image"
                class="mile-icon1"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="triangle-element"></div>
  </div>
</section>
