<section class="news-header-container" style="margin-top: 80px">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-3"
      >
        <span class="news-header-title">News</span>
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-5 text-to-left"
      >
        <span class="news-header-text">
          Explore the latest updates and published articles showcasing our
          corporate achievements and industry insights.
        </span>
      </div>
    </div>
  </div>
</section>

<section class="news-body">
  <div class="container w-100 text-to-center">
    <div class="row w-100 text-to-center">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-image-container"
      >
        <img
          src="./assets/images/news1.webp"
          alt="News image"
          class="news-image"
        />
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-info"
      >
        <h2 class="news-title">
          Partnership between BUTEC Group and ESA Business School
        </h2>
        <h6 class="news-date">31 May, 2023</h6>
        <p class="news-text">
          ESA Business School and BUTEC Group, a diversified group operating in
          the sectors of Construction, Industrial, Environmental, and Energies
          Services, are pleased to announce their partnership…
        </p>
        <a class="readmore-link">Read more</a>
      </div>
    </div>
  </div>
  <div class="container w-100 text-to-center">
    <div class="row mt-5 w-100 text-to-center">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-image-container"
      >
        <img
          src="./assets/images/news2.webp"
          alt="Business Line image"
          class="news-image"
        />
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-info"
      >
        <h2 class="news-title">
          Partnership between BUTEC Group and ESA Business School
        </h2>
        <h6 class="news-date">31 May, 2023</h6>
        <p class="news-text">
          ESA Business School and BUTEC Group, a diversified group operating in
          the sectors of Construction, Industrial, Environmental, and Energies
          Services, are pleased to announce their partnership…
        </p>
        <a class="readmore-link">Read more</a>
      </div>
    </div>
  </div>
  <div class="container w-100 text-to-center">
    <div class="row mt-5 w-100 text-to-center">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-image-container"
      >
        <img
          src="./assets/images/news3.webp"
          alt="Business Line image"
          class="news-image"
        />
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-info"
      >
        <h2 class="news-title">
          Partnership between BUTEC Group and ESA Business<br />School
        </h2>
        <h6 class="news-date">31 May, 2023</h6>
        <p class="news-text">
          ESA Business School and BUTEC Group, a diversified group operating in
          the sectors of Construction, Industrial, Environmental, and Energies
          Services, are pleased to announce their partnership…
        </p>
        <a class="readmore-link">Read more</a>
      </div>
    </div>
  </div>
  <div class="container w-100 text-to-center">
    <div class="row mt-5 w-100 text-to-center">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-image-container"
      >
        <img
          src="./assets/images/news4.webp"
          alt="Business Line image"
          class="news-image"
        />
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 news-info"
      >
        <h2 class="news-title">
          Partnership between BUTEC Group and ESA Business<br />School
        </h2>
        <h6 class="news-date">31 May, 2023</h6>
        <p class="news-text">
          ESA Business School and BUTEC Group, a diversified group operating in
          the sectors of Construction, Industrial, Environmental, and Energies
          Services, are pleased to announce their partnership…
        </p>
        <div><a class="readmore-link">Read more</a></div>
      </div>
    </div>
  </div>
</section>
<div class="show-more-classic-container">
  <button class="show-more-classic"><strong>SHOW MORE</strong></button>
</div>
