<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/why_choose_us.webp"
      alt="Why choose us main image"
      class="header-img img-fluid desktop-image"
    />
    <img
      src="./assets/images/why-Mobile.jpg"
      alt="Why choose us main image"
      class="header-img img-fluid mobile-image"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">{{ "whyChooseUs.about" | translate }}</h2>
        <h2 class="header-project-title">{{ "whyChooseUs.whyChooseUs" | translate }}</h2>
      </div>
    </div>
  </div>
</section>
<section class="page-text-container">
  <div class="page-text-body">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 multi-mini-box multi-mini-box-space"
        >
          <div class="multi-mini-box-content">
            <h6 class="multi-mini-box-title">Mission</h6>
            <div class="container">
              <div class="row">
                <div
                  class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 move-left-15"
                >
                  <img
                    src="./assets/icons/double_qoutation.svg"
                    alt=""
                    class="box-qoutation"
                  />
                </div>
                <div
                  class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 move-left-20"
                >
                  <p class="multi-mini-box-text">
                    {{ "whyChooseUs.missionDescription" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 multi-mini-box"
        >
          <div class="multi-mini-box-content">
            <h6 class="multi-mini-box-title">Vision</h6>
            <div class="container">
              <div class="row">
                <div
                  class="col-2 col-xs-2 col-s-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 move-left-15"
                >
                  <img
                    src="./assets/icons/double_qoutation.svg"
                    alt=""
                    class="box-qoutation"
                  />
                </div>
                <div
                  class="col-10 col-xs-10 col-s-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 move-left-20"
                >
                  <p class="multi-mini-box-text">
                    {{ "whyChooseUs.visionDescription" | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h6 class="multi-mini-box-title">Values</h6>
      <div class="gray-box-container">
        <div class="values-box-body">
          <div class="container">
            <div class="row gray-bottom-border">
              <div
                class="col-3 col-s-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 text-to-left"
              >
                <img
                  src="./assets/icons/business_integrity.svg"
                  alt="Business Integrity"
                  class="values-icon move-left-20"
                />
              </div>
              <div
                class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-10 col-xl-10 text-to-left"
              >
                <h6 class="values-text move-left-20">Business Integrity</h6>
              </div>
            </div>
            <div class="row gray-bottom-border">
              <div
                class="col-3 col-s-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2"
              >
                <img
                  src="./assets/icons/unity_of_purpose.svg"
                  alt="Unity of Purpose"
                  class="values-icon move-left-20"
                />
              </div>
              <div
                class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-10 col-xl-10"
              >
                <h6 class="values-text move-left-20">Unity of purpose</h6>
              </div>
            </div>
            <div class="row gray-bottom-border">
              <div
                class="col-3 col-s-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2"
              >
                <img
                  src="./assets/icons/time_is_of_the_essence.svg"
                  alt="Time is of The essence"
                  class="values-icon move-left-20"
                />
              </div>
              <div
                class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-10 col-xl-10"
              >
                <h6 class="values-text move-left-20">Time Commitment</h6>
              </div>
            </div>
            <div class="row gray-bottom-border">
              <div
                class="col-3 col-s-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2"
              >
                <img
                  src="./assets/icons/efficiency_matters.svg"
                  alt="Efficiency Matter"
                  class="values-icon move-left-20"
                />
              </div>
              <div
                class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-10 col-xl-10"
              >
                <h6 class="values-text move-left-20">Efficiency Focus</h6>
              </div>
            </div>
            <div class="row">
              <div
                class="col-3 col-s-3 col-xs-3 col-sm-3 col-md-2 col-lg-2 col-xl-2"
              >
                <img
                  src="./assets/icons/customer_focus.svg"
                  alt="Customer Focus"
                  class="values-icon move-left-20"
                />
              </div>
              <div
                class="col-9 col-xs-9 col-s-9 col-sm-9 col-md-10 col-lg-10 col-xl-10"
              >
                <h6 class="values-text move-left-20">Customer Partnership</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h6 class="multi-mini-box-title margin-top-64">Certifications</h6>
      <div class="container">
        <div class="row">
          <div *ngFor="let certificate of certificatesList"
            class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 margin-bottom-12"
          >
            <img
              src="./assets/certificates/{{ certificate.name }}"
              alt="Business Line image"
              class="rounded-circle certification-img"
            />
          </div>
        </div>
      </div>
    </div>

    <div>
      <h6 class="multi-mini-box-title margin-top-64">{{ "whyChooseUs.partners" | translate }}</h6>

      <div class="container">
        <div class="row">
          <div
            class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-left"
          >
            <img
              src="./assets/images/IFC.png"
              alt="IFC image"
              class="partners-img"
            />
          </div>
          <div
            class="col-6 col-xs-6 col-s-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-to-left"
          >
            <img
              src="./assets/images/mask_group.png"
              alt="mask group image"
              class="partners-img"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
