
<section class="">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-lg-5 col-xl-5"
      >
        <h1 class="projects-page-title">
          {{ "openPositions.openPositions1" | translate }}<br />
          {{ "openPositions.openPositions2" | translate }}
        </h1>
      </div>
      <div
        class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-12 col-xl-7 text-to-bottom"
      >
        <p class="projects-page-text projects-page-text1 text-to-bottom">
          {{ "openPositions.positionsDescription" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>


<section class="position-container">
  <div class="w-100 container-to-center margin-top-80">
    <div class="multi-gray-box-container">
      <div class="multi-gray-box-content">
        <h6 class="multi-gray-box-title">
          <strong
            >{{ "openPositions.perfectMatch" | translate }}<br />{{ "openPositions.onlineOpportunities" | translate }}</strong>
        </h6>
        <div>
          <a (click)="GoToCareers()">
            <button class="yellow-browse-btn">
              <strong class="gray-box-btn-text">{{ "buttons.applyNow" | translate }}</strong>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
