<section class="header-container">
  <div class="header-img-container">
    <img
      src="./assets/images/Life-11.webp"
      alt="Careers Main image"
      class="header-img img-fluid desktop-image"
    />
    <img
      src="./assets/images/life-Mobile.jpg"
      alt="Careers Main image"
      class="header-img img-fluid mobile-image"
    />
  </div>

  <div class="header-titles-container">
    <div class="header-titles-body gold-left-border">
      <div class="header-titles-content">
        <h2 class="header-page-title">{{ "lifeAtButec.careers" | translate }}</h2>
        <h2 class="header-project-title">{{ "lifeAtButec.lifeAtButec" | translate }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="page-text-container">
  <div class="page-text-body">
    <p class="summary-paragraph summary-paragraph2 margin-top-64 margin-bottom-64">
      {{ "lifeAtButec.lifeDescription" | translate }}
    </p>
    <h6 class="page-sub-title-life margin-bottom-32">{{ "lifeAtButec.ourPeople" | translate }}</h6>
    <p class="page-paragraph-desc1 margin-bottom-32">
      {{ "lifeAtButec.ourPeopleDescription" | translate }}
    </p>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.diversityAndInclusion" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              {{ "lifeAtButec.diversityDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.corporateCulture" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              {{ "lifeAtButec.corporateDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.careerDevelopment" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-lg-7"
          >
            <p class="gray-box-text">
              {{ "lifeAtButec.careerDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-img-container margin-bottom-64">
      <img
        src="./assets/images/Life-sub2.webp"
        alt="Business Line image"
        class="page-img img-fluid"
      />
    </div>
    <div class="margin-bottom-32">
      <h2 class="page-sub-title-life">{{ "lifeAtButec.ourEmployeeValueProposition" | translate }}</h2>
    </div>
    <div class="margin-bottom-32">
      <p class="page-paragraph-desc-build">
        {{ "lifeAtButec.ourEmployeeDescription" | translate }}
      </p>
    </div>

    <div class="gray-box-container-life margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.dynamism" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              {{ "lifeAtButec.dynamismDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.friendlyAtmosphere" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="gray-box-text">
              {{ "lifeAtButec.friendlyDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="multi-gray-box-title gray-box-title">{{ "lifeAtButec.exposureAndOpportunities" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="multi-gray-box-text1">
              {{ "lifeAtButec.exposureDescription" | translate }}
            </p>
            <div>
              <button
                class="life-more-btn"
                [routerLink]="['/', 'Butec-Academy']"
              >
                <span class="life-more-btn-text"
                  ><strong
                    >{{ "buttons.moreAboutTheButecAcademy" | translate }}<img
                      src="./assets/icons/ic-arrow-on.svg"
                      alt="join image"
                      class="ic_arrow details-to-left" /></strong
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-img-container margin-bottom-64">
      <img
        src="./assets/images/Life-sub1.webp"
        alt="Business Line image"
        class="page-img img-fluid"
      />
    </div>

    <div class="margin-bottom-32">
      <h2 class="page-sub-title-life margin-bottom-32">{{ "lifeAtButec.ourHiringProcess" | translate }}</h2>
      <p class="page-paragraph-desc-hire">
        {{ "lifeAtButec.hiringDescription" | translate }}
      </p>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="gray-box-title">{{ "lifeAtButec.equalEmploymentFirst" | translate }}<br />{{ "lifeAtButec.equalEmploymentSecond" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-5"
          >
            <p class="gray-box-text1">
              {{ "lifeAtButec.equalEmploymentDescription" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gray-box-container margin-bottom-16">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-to-left"
          >
            <p class="gray-box-title life-box-title-space life-text-format">
              {{ "lifeAtButec.careerFields.careerFields" | translate }}
            </p>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <div class="container">
              <div class="row">
                <div
                  class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                >
                  <ul class="gray-box-text yellow-bullets-ul">
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.businessDevelopment"
                          | translate
                      }}
                    </li>
                    <li>
                      {{ "lifeAtButec.careerFields.engineering" | translate }}
                    </li>
                    <li>
                      {{ "lifeAtButec.careerFields.adminstration" | translate }}
                    </li>
                    <li>
                      {{ "lifeAtButec.careerFields.tendering" | translate }}
                    </li>
                    <li class="">
                      {{
                        "lifeAtButec.careerFields.planningAndCostControl"
                          | translate
                      }}
                    </li>
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.contractsManagement"
                          | translate
                      }}
                    </li>
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.projectManagemnet" | translate
                      }}
                    </li>
                  </ul>
                </div>
                <div
                  class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"
                >
                  <ul class="gray-box-text yellow-bullets-ul">
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.qualityAssurance" | translate
                      }}
                    </li>
                    <li class="">
                      {{
                        "lifeAtButec.careerFields.safetyAndEnvironment"
                          | translate
                      }}
                    </li>
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.humanResources" | translate
                      }}
                    </li>
                    <li class="">
                      {{
                        "lifeAtButec.careerFields.informationTechnology"
                          | translate
                      }}
                    </li>
                    <li class="text-nowrap">
                      {{
                        "lifeAtButec.careerFields.financeAndAccounting"
                          | translate
                      }}
                    </li>
                    <li class="text-nowrap">
                      {{ "lifeAtButec.careerFields.internalAudit" | translate }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="multi-gray-box-container">
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-5 col-lg-5 col-xl-5"
          >
            <h6 class="multi-gray-box-title1">{{ "lifeAtButec.howToApply" | translate }}</h6>
          </div>
          <div
            class="col-12 col-xs-12 col-s-12 col-sm-12 col-md-7 col-lg-7 col-xl-7"
          >
            <p class="multi-gray-box-text">
              {{ "lifeAtButec.applyDescription" | translate }}
            </p>
            <div>
              <button class="life-more-btn" [routerLink]="['/', 'Positions']">
                <span class="life-more-btn-text"
                  ><strong
                    >{{ "buttons.checkOpenPositions" | translate }}<img
                      src="./assets/icons/ic-arrow-on.svg"
                      alt="join image"
                      class="ic_arrow details-to-left" /></strong
                ></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
